:root{
    --azul-claro:#6BD1FF;
    --destaque:#689dff;
    --branco:#dee1e8;
}


.input-error{
    outline: 1px solid red;
  }


.Aparecer{
    display: flex;
    justify-content:flex-start ;
    color: red;
    font-size:10px;
    margin:10px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Desaparecer {
    display: none;
    font-size: 2px;
}


.rodape {
    display: flex;
    background-color: black;
    padding: 3em 0;
    color: var(--branco);
}

.redes-sociais__lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cabecalho__menu-realizado{
    font-size:2em;
    margin: 2em auto;
    
}

a{
    text-decoration: none;
    color:green;
}


.mensagem-erro{
    color: red;
}

*{
    margin: 0;
    padding:0;
}


.cabecalho__logo-inicio{
    font-size:2em ;
    color: var(--azul-claro)
}

.cabecalho__logo-final{
    color: var(--destaque);
}

.cabecalho{
    display: flex;
    align-items: center;
    margin: 2em 1em;
}

.cabecalho ul li a{
    text-decoration: none;
    color: black;
}

.formulario__etiqueta {
    font-weight: 500;
    line-height: 20px;
}

.cabecalho__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
    font-size: 18px;
    margin: 0 2em;
}

.cabecalho__pesquisa{
    border: 2px solid black;
    border-radius:20px;
    padding: .7em 1em;
    width: 20vw;
}

.banner {
    background-image: url("imagens/banner-cliente.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner__formulario {
    background-image: url("imagens/banner-formulario.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner__titulo {
    font-weight: 600;
    color: var(--branco);
    font-size: 32px;
    line-height: 39px;
    width: 40%;
    margin: 0 auto;
}


.banner__titulo,
.conta__titulo {
    font-weight: 600;
    color: var(--branco);
    font-size: 32px;
    line-height: 39px;
}

.banner__titulo {
    width: 32%;
    margin: 0 3em
}

.servicos__titulo,
.beneficios__titulo {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin: 1em 0;
}

.lista-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4em 0;
}

.item-servicos__titulo {
    background-color: var(--preto);
    color: var(--branco);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: .5em 0;
    border-radius: 0px 0px 20px 20px;
}

.item-servicos__imagem {
    display: block;
}

.conta {
    background-image: url("imagens/banner-gato.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.conta__container {
    width: 80%;
    margin-left: 4em;
}

.conta__botao {
    display: block;
    margin-top: .5em;
    width: 50%;
    text-align: center;
    background: var(--preto);
    border-radius: 20px;
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 0.5em;
}

.beneficios-lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4em;
    text-align: center;
}

.beneficios-lista__item {
    width: 20%;
}

.beneficios__icone {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.icone-presente {
    background-image: url('imagens/Presente.png');
}

.icone-saque {
    background-image: url('imagens/Saque.png');
}

.icone-estrela {
    background-image: url('imagens/Estrela.png')
}

.icone-gato {
    background-image: url('imagens/Gato.png')
}

.beneficios-lista__titulo {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--azul-claro);
    margin: .5em 0;
}

@media screen and (max-width: 798px) {
    .beneficios-lista {
        display: block;
        margin: 1em;
    }

    .beneficios-lista__item {
        width: 100%;
    }

    .conta {
        display: block;

    }

    .conta__titulo {
        padding: 1em 0;
    }
}




.breadcrumb li {
    display: inline;
    font-size: 16px;
    color: var(--destaque);
}

.breadcrumb li+li:before {
    padding: 8px;
    color: var(--destaque);
    content: ">";
}




/* Formulario */

.container {
    margin: 1em 5em;
}


.formulario__botao{
    background: var(--azul-claro);
    margin: 2em auto;
    display: block;
    border: none;
    padding: 1em 4em;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--branco);
    color: red;
}

formulario__container-sucesso{
    font-size: 3em;

}

.formulario__container{
    text-align: center;
    margin:0px 0px;
}

.formulario
    {
        margin: 1em auto;
        width: 30vw;
    }

.formulario__campo{
    margin-bottom:2em;
}

.formulario__etiqueta {
    font-weight: 500;
    line-height: 20px;
}


.formulario__campo{
    display: block;
    border: 2px solid var(--azul-claro);
    border-radius:20px;
    width: 100%;
    padding: 1em;
    margin-top: .5em;

}

.formulario__container-texto {
    margin: 1em 3em;
    color: var(--destaque);
    font-size: 2em;
}

.formulario__campo{
    border: 0px;
    height:1px;
    margin-bottom: 5em;
}

.formulario__escrita{
    display: block;
    border:2px solid var(--azul-claro) ;
    border-radius: 20px;
    width:100%;
    padding:1em;
    margin-top: .5em;
}


/*rodape*/*

.rodape{
    height:100%;
}
